.searchPage {
    background: (0, 0, 0, 0.5);
}

.search-container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 75%;
}

.search-wrapper {
    width: 50%;
}

.allMovies{
    margin: auto;
    padding: 10px;
}

.search-paper {
    width: 85%;
    margin: auto;
}

.search-paper-container {
    max-height: 440;
}