/* whole page */
.searchPage {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.search-paper {
    width: 85%;
    margin: auto;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 4px;
}

/* textfield */
.search-wrapper {
    padding: 20px;
    margin-top: 50px;
    margin: auto;
    width: 85%;
}

/* "search by title, director, release date, genre, or tags" */
.search-conditions {
    text-align: center;
    margin-top: 5%;
    padding: 20px;
}

.search-paper-container {
    max-height: 440;
}