.movieContainer {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

.poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 750px;
}

.textArea {
    background: rgb(255, 255, 255, .5);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-radius: 4px;
}

.director {
    width: 10%;
}

.releaseDate {
    width: 5%;
}

.genre {
    width: flex;
}

.tags {
    width: 10%;
}

.synopsis {
    background: rgba(255, 255, 255, 0.5);
    width: 50%;
}

.test {
    background: rgba(255, 255, 255, 0.5);
}